<div id="ticket">
  <h2><%= @ticket.title %></h2>
  <span id='author'>Created by <%= @ticket.user.email %></span>
  <% authorized? "edit tickets", @project do %>
    <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
  <% end %>
  <% authorized? "delete tickets", @project do %>
    <%= link_to "Delete Ticket", [@project, @ticket], method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
  <%= simple_format @ticket.description %>
  <% if @ticket.assets.present? %>
    <h3>Attached Files </h3>
    <div class="assets">
    <% @ticket.assets.each do |a| %>
      <p>
        <%= link_to File.basename(a.asset.path), file_path(a) %>
      </p>
      <p><small><%= number_to_human_size(a.asset.size) %></small></p>
    <% end %>
    </div>
  <% end %>
</div>
<h3>Comments</h3>
<div id="comments">
  <% if @ticket.comments.exists? %>
    <%= render @ticket.comments.select(&:persisted?) %>
  <% else %>
    <p>There are no comments for this ticket.</p>
  <% end %>
</div>
<%= render "comments/form" %>